.container {
  width: 550px;
  margin: auto;
  margin-top: 50px;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 2px 2px 2px rgba(0,0,0,.1);
}

.search-filer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.app-header h1 {
  white-space: nowrap;
  margin-bottom: 0;
  margin-right: 30px;
  font-size: 30px;
  color: #444343;
}

.add-todo form {
  display: block;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-todo button {
  margin-left: 10px;
}

.toto-lits {
  background-color: #f1f1f1;
  margin-top: 10px;
  margin-bottom: 30px;
}

.toto-lits ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.toto-lits ul .single-todo {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border: 1px solid #f1f1f1;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.toto-lits ul .single-todo.completed {
  text-decoration: line-through;
}

.toto-lits ul :last-child > .single-todo {
  margin-bottom: 0;
}

.toto-lits ul .single-todo h3 {
  margin-bottom: 0;
  width: 70%;
  font-size: 14px;
  color: #202020;
}
